.see-all-btn {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin: 20px;
    transition: background 0.3s;
    font-weight: bold;
}

.back-button:hover {
    background: #2980b9;
}

.see-all-btn:hover {
    background-color: #2980b9;
}

.perfect p {
    color: #000000;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin: 15px 0;
    padding: 0 20px;
}
